.navbar {
    justify-content: space-between;    
    padding: 10px 20px;
    background-color: #fff;
}

.navbar_logo {
    width: auto;
    height: 40px;
}

.navbar_form {
    width: 450px;
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 3px;
}

.navbar_input {
    flex: 1;
    height: 100%;
    padding: 0px 7px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none
}

.navbar_search_button {
    height: 100%;
    padding: 0px 10px;
    background-color: #0a60c8;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.navbar_links {
    font-size: 20px;
}

.navbar_links > a {
    margin: 15px;
    text-decoration: none;
}

.link_emoji {
    width: 25px;    
    margin-left: 5px;
}

.cart_counts {
    justify-content: center;
    width: 50%;
    height: 20px;
    border-radius: 50%;
    background-color: #6457f9;
    color: white;
    font-size: 15px;
    padding: 5px;
}
